In [1]:
import pandas as pd
import numpy as np

## 2014

In [2]:
data = pd.read_csv("data/stsal_2014.csv")
data.shape

(747, 30)

In [10]:
data.isnull().sum()

Name           0
Age            1
Tm             1
Lg             1
G              0
PA             0
AB             0
R              0
H              0
2B             0
3B             0
HR             0
RBI            0
SB             0
CS             0
BB             0
SO             0
BA             5
OBP            4
SLG            5
OPS            5
OPS+           6
TB             0
GDP            0
HBP            0
SH             0
SF             0
IBB            0
Pos Summary    8
Salary         0
dtype: int64

In [ ]:
data = data[lambda x: x.Salary > 0]
data = data.reset_index(drop=True)

data.shape

In [ ]:
def g_sum(index):
    name = data.iloc[index]['Name']
    
    sum = data.iloc[index]['G']
    
    for i in range(index+1, len(data)):
        if data.iloc[i]['Name'] == name:
            sum += data.iloc[i]['G']
            
    return sum

In [ ]:
i = 0
while i < len(data):
    name = data.loc[i,'Name']
    gamesum = g_sum(i)
    
    for j in range(17, 22):
        data.iloc[i,j] = data.loc[i,'G'] * data.iloc[i,j]
    
    k = i + 1
    while k < len(data):
        if data.loc[k,'Name'] == name:
            
            if data.loc[k,'Tm'] not in data.loc[i,'Tm']:
                data.loc[i,'Tm'] = data.loc[i,'Tm'] + "/" + data.loc[k,'Tm']
            if data.loc[k,'Lg'] not in data.loc[i,'Lg']:
                data.loc[i,'Lg'] = data.loc[i,'Lg'] + "/" + data.loc[k,'Lg']
            
            for l in range(4, 17):
                data.iloc[i,l] += data.iloc[k,l]
                
            for m in range(17, 22):
                data.iloc[i,m] += data.loc[k,'G'] * data.iloc[k,m]
            
            for n in range(22, 28):
                data.iloc[i,n] += data.iloc[k,n]
                
            data.loc[i,'Salary'] += data.loc[k,'Salary']
            
            data = data.drop(data.index[k]).reset_index(drop=True)
        
        else:
            k += 1
            
    for o in range(17, 22):
        data.iloc[i,o] = data.iloc[i,o] / gamesum
    
    i += 1

In [ ]:
data.shape

In [ ]:
data.to_csv("data_preprocessing/data_preprocessing_2014.csv")

## 2015

In [ ]:
data = pd.read_csv("data/stsal_2015.csv")
data.shape

In [ ]:
data = data[lambda x: x.Salary > 0]
data = data.reset_index(drop=True)

data.shape

In [ ]:
i = 0
while i < len(data):
    name = data.loc[i,'Name']
    gamesum = g_sum(i)
    
    for j in range(17, 22):
        data.iloc[i,j] = data.loc[i,'G'] * data.iloc[i,j]
    
    k = i + 1
    while k < len(data):
        if data.loc[k,'Name'] == name:
            
            if data.loc[k,'Tm'] not in data.loc[i,'Tm']:
                data.loc[i,'Tm'] = data.loc[i,'Tm'] + "/" + data.loc[k,'Tm']
            if data.loc[k,'Lg'] not in data.loc[i,'Lg']:
                data.loc[i,'Lg'] = data.loc[i,'Lg'] + "/" + data.loc[k,'Lg']
            
            for l in range(4, 17):
                data.iloc[i,l] += data.iloc[k,l]
                
            for m in range(17, 22):
                data.iloc[i,m] += data.loc[k,'G'] * data.iloc[k,m]
            
            for n in range(22, 28):
                data.iloc[i,n] += data.iloc[k,n]
                
            data.loc[i,'Salary'] += data.loc[k,'Salary']
            
            data = data.drop(data.index[k]).reset_index(drop=True)
        
        else:
            k += 1
            
    for o in range(17, 22):
        data.iloc[i,o] = data.iloc[i,o] / gamesum
    
    i += 1

In [ ]:
data

In [ ]:
data.shape

In [ ]:
data.to_csv("data_preprocessing/data_preprocessing_2015.csv")

## 2016

In [ ]:
data = pd.read_csv("data/stsal_2016.csv")
data.shape

In [ ]:
data = data[lambda x: x.Salary > 0]
data = data.reset_index(drop=True)

data.shape

In [ ]:
i = 0
while i < len(data):
    name = data.loc[i,'Name']
    gamesum = g_sum(i)
    
    for j in range(17, 22):
        data.iloc[i,j] = data.loc[i,'G'] * data.iloc[i,j]
    
    k = i + 1
    while k < len(data):
        if data.loc[k,'Name'] == name:
            
            if data.loc[k,'Tm'] not in data.loc[i,'Tm']:
                data.loc[i,'Tm'] = data.loc[i,'Tm'] + "/" + data.loc[k,'Tm']
            if data.loc[k,'Lg'] not in data.loc[i,'Lg']:
                data.loc[i,'Lg'] = data.loc[i,'Lg'] + "/" + data.loc[k,'Lg']
            
            for l in range(4, 17):
                data.iloc[i,l] += data.iloc[k,l]
                
            for m in range(17, 22):
                data.iloc[i,m] += data.loc[k,'G'] * data.iloc[k,m]
            
            for n in range(22, 28):
                data.iloc[i,n] += data.iloc[k,n]
                
            data.loc[i,'Salary'] += data.loc[k,'Salary']
            
            data = data.drop(data.index[k]).reset_index(drop=True)
        
        else:
            k += 1
            
    for o in range(17, 22):
        data.iloc[i,o] = data.iloc[i,o] / gamesum
    
    i += 1

In [ ]:
data

In [ ]:
data.shape

In [ ]:
data.to_csv("data_preprocessing/data_preprocessing_2016.csv")

## 2017

In [ ]:
data = pd.read_csv("data/stsal_2017.csv")
data.shape

In [ ]:
data = data[lambda x: x.Salary > 0]
data = data.reset_index(drop=True)

data.shape

In [ ]:
i = 0
while i < len(data):
    name = data.loc[i,'Name']
    gamesum = g_sum(i)
    
    for j in range(17, 22):
        data.iloc[i,j] = data.loc[i,'G'] * data.iloc[i,j]
    
    k = i + 1
    while k < len(data):
        if data.loc[k,'Name'] == name:
            
            if data.loc[k,'Tm'] not in data.loc[i,'Tm']:
                data.loc[i,'Tm'] = data.loc[i,'Tm'] + "/" + data.loc[k,'Tm']
            if data.loc[k,'Lg'] not in data.loc[i,'Lg']:
                data.loc[i,'Lg'] = data.loc[i,'Lg'] + "/" + data.loc[k,'Lg']
            
            for l in range(4, 17):
                data.iloc[i,l] += data.iloc[k,l]
                
            for m in range(17, 22):
                data.iloc[i,m] += data.loc[k,'G'] * data.iloc[k,m]
            
            for n in range(22, 28):
                data.iloc[i,n] += data.iloc[k,n]
                
            data.loc[i,'Salary'] += data.loc[k,'Salary']
            
            data = data.drop(data.index[k]).reset_index(drop=True)
        
        else:
            k += 1
            
    for o in range(17, 22):
        data.iloc[i,o] = data.iloc[i,o] / gamesum
    
    i += 1

In [ ]:
data

In [ ]:
data.shape

In [ ]:
data.to_csv("data_preprocessing/data_preprocessing_2017.csv")

## 2018

In [ ]:
data = pd.read_csv("data/stsal_2018.csv")
data.shape

In [ ]:
data = data[lambda x: x.Salary > 0]
data = data.reset_index(drop=True)

data.shape

In [ ]:
i = 0
while i < len(data):
    name = data.loc[i,'Name']
    gamesum = g_sum(i)
    
    for j in range(17, 22):
        data.iloc[i,j] = data.loc[i,'G'] * data.iloc[i,j]
    
    k = i + 1
    while k < len(data):
        if data.loc[k,'Name'] == name:
            
            if data.loc[k,'Tm'] not in data.loc[i,'Tm']:
                data.loc[i,'Tm'] = data.loc[i,'Tm'] + "/" + data.loc[k,'Tm']
            if data.loc[k,'Lg'] not in data.loc[i,'Lg']:
                data.loc[i,'Lg'] = data.loc[i,'Lg'] + "/" + data.loc[k,'Lg']
            
            for l in range(4, 17):
                data.iloc[i,l] += data.iloc[k,l]
                
            for m in range(17, 22):
                data.iloc[i,m] += data.loc[k,'G'] * data.iloc[k,m]
            
            for n in range(22, 28):
                data.iloc[i,n] += data.iloc[k,n]
                
            data.loc[i,'Salary'] += data.loc[k,'Salary']
            
            data = data.drop(data.index[k]).reset_index(drop=True)
        
        else:
            k += 1
            
    for o in range(17, 22):
        data.iloc[i,o] = data.iloc[i,o] / gamesum
    
    i += 1

In [ ]:
data

In [ ]:
data.shape

In [ ]:
data.to_csv("data_preprocessing/data_preprocessing_2018.csv")

## 2019

In [ ]:
data = pd.read_csv("data/stsal_2019.csv", encoding = 'cp949')
data.shape

In [ ]:
data = data[lambda x: x.Salary > 0]
data = data.reset_index(drop=True)

data.shape

In [ ]:
i = 0
while i < len(data):
    name = data.loc[i,'Name']
    gamesum = g_sum(i)
    
    for j in range(17, 22):
        data.iloc[i,j] = data.loc[i,'G'] * data.iloc[i,j]
    
    k = i + 1
    while k < len(data):
        if data.loc[k,'Name'] == name:
            
            if data.loc[k,'Tm'] not in data.loc[i,'Tm']:
                data.loc[i,'Tm'] = data.loc[i,'Tm'] + "/" + data.loc[k,'Tm']
            if data.loc[k,'Lg'] not in data.loc[i,'Lg']:
                data.loc[i,'Lg'] = data.loc[i,'Lg'] + "/" + data.loc[k,'Lg']
            
            for l in range(4, 17):
                data.iloc[i,l] += data.iloc[k,l]
                
            for m in range(17, 22):
                data.iloc[i,m] += data.loc[k,'G'] * data.iloc[k,m]
            
            for n in range(22, 28):
                data.iloc[i,n] += data.iloc[k,n]
                
            data.loc[i,'Salary'] += data.loc[k,'Salary']
            
            data = data.drop(data.index[k]).reset_index(drop=True)
        
        else:
            k += 1
            
    for o in range(17, 22):
        data.iloc[i,o] = data.iloc[i,o] / gamesum
    
    i += 1

In [ ]:
data

In [ ]:
data.shape

In [ ]:
data.to_csv("data_preprocessing/data_preprocessing_2019.csv", encoding='utf-8')